Repository Yanan-Gao/confetti: changes, and which GitLab CI jobs are due for each by the changed paths.
All: auto_generate_configs, deploy_test_configs, deploy_prod_configs, deploy_experiment_configs

auto_generate_configs:
  image: python:3.9
  stage: generate
  before_script:
  - apt-get update -y && apt-get install -y make git
  script:
  - make build env=all
  ...

deploy_test_configs:
  image: python:3.9
  stage: deploy
  before_script:
  - pip install --quiet awscli
  script:
  - aws s3 sync configs/test s3://thetradedesk-mlplatform-us-east-1/configdata/confetti/configs/test/

deploy_prod_configs:
  image: python:3.9
  stage: deploy
  before_script:
  - pip install --quiet awscli
  script:
  - aws s3 sync configs/prod s3://thetradedesk-mlplatform-us-east-1/configdata/confetti/configs/prod/ --delete

deploy_experiment_configs:
  image: python:3.9
  stage: deploy
  before_script:
  - pip install --quiet awscli
  script:
  - aws s3 sync configs/experiment s3://thetradedesk-mlplatform-us-east-1/configdata/confetti/configs/experiment/ --delete

remove comment out configs
  config-templates/audience/RelevanceModelInputGeneratorJob/identity_config.yml.j2
Due: none

frc-AUDAUTO-3375-torch-abtesting
  config-overrides/test/torch-onboard-abtesting/audience/AudienceCalibrationAndMergeJob/config.yml
  configs/test/torch-onboard-abtesting/audience/AudienceCalibrationAndMergeJob/identity_config.yml
Due: auto_generate_configs, deploy_test_configs

frc-AUDAUTO-3375-torch-abtesting change prod population repartition num
  config-overrides/prod/audience/PopulationInputDataGeneratorJob/config.yml
  configs/prod/audience/PopulationInputDataGeneratorJob/identity_config.yml
Due: auto_generate_configs, deploy_prod_configs

frc-AUDAUTO-3375-torch-abtesting force run test
  config-overrides/test/torch-onboard-abtesting/audience/PopulationInputDataGeneratorJob/config.yml
Due: auto_generate_configs, deploy_test_configs

frc-AUDAUTO-3375-torch-abtesting-1 fix release failure
  configs/test/torch-onboard-abtesting/audience/RelevanceModelInputGeneratorJob/identity_config.yml
  configs/test/torch-onboard-abtesting/audience/RelevanceModelInputGeneratorJob/output_config.yml
Due: deploy_test_configs

Fix policy config
  config-overrides/prod/audience/RSMGraphPolicyTableGeneratorJob/config.yml
  config-templates/audience/RSMGraphPolicyTableGeneratorJob/identity_config.yml.j2
  configs/experiment/yanan-demo/audience/RSMGraphPolicyTableGeneratorJob/identity_config.yml
  configs/prod/audience/RSMGraphPolicyTableGeneratorJob/identity_config.yml
  configs/test/torch-onboard-abtesting/audience/RSMGraphPolicyTableGeneratorJob/identity_config.yml
  configs/test/yanan-demo/audience/RSMGraphPolicyTableGeneratorJob/identity_config.yml
Due: auto_generate_configs, deploy_test_configs, deploy_prod_configs, deploy_experiment_configs

Add prototype EMR launcher service
  Makefile
  README.md
  emr_launcher/__init__.py
  emr_launcher/emr.py
  emr_launcher/service.py
  emr_launcher/templates/index.html
  requirements.txt
Due: none

add 2 more config in policy
  config-overrides/test/yixuan-graph-ext-policy/audience/RSMGraphPolicyTableGeneratorJob/config.yml
  config-templates/audience/RSMGraphPolicyTableGeneratorJob/identity_config.yml.j2
  configs/experiment/yanan-demo/audience/RSMGraphPolicyTableGeneratorJob/identity_config.yml
  configs/prod/audience/RSMGraphPolicyTableGeneratorJob/identity_config.yml
  configs/test/torch-onboard-abtesting/audience/RSMGraphPolicyTableGeneratorJob/identity_config.yml
  configs/test/yixuan-graph-ext-policy/audience/AudienceCalibrationAndMergeJob/execution_config.yml
  configs/test/yixuan-graph-ext-policy/audience/AudienceCalibrationAndMergeJob/identity_config.yml
  configs/test/yixuan-graph-ext-policy/audience/AudienceCalibrationAndMergeJob/output_config.yml
  configs/test/yixuan-graph-ext-policy/audience/CalibrationInputDataGeneratorJob/execution_config.yml
  configs/test/yixuan-graph-ext-policy/audience/CalibrationInputDataGeneratorJob/identity_config.yml
  configs/test/yixuan-graph-ext-policy/audience/CalibrationInputDataGeneratorJob/output_config.yml
  configs/test/yixuan-graph-ext-policy/audience/Imp2BrModelInferenceDataGenerator/execution_config.yml
  configs/test/yixuan-graph-ext-policy/audience/Imp2BrModelInferenceDataGenerator/identity_config.yml
  configs/test/yixuan-graph-ext-policy/audience/Imp2BrModelInferenceDataGenerator/output_config.yml
  configs/test/yixuan-graph-ext-policy/audience/PopulationInputDataGeneratorJob/execution_config.yml
  configs/test/yixuan-graph-ext-policy/audience/PopulationInputDataGeneratorJob/identity_config.yml
  configs/test/yixuan-graph-ext-policy/audience/PopulationInputDataGeneratorJob/output_config.yml
  configs/test/yixuan-graph-ext-policy/audience/RSMGraphPolicyTableGeneratorJob/execution_config.yml
  configs/test/yixuan-graph-ext-policy/audience/RSMGraphPolicyTableGeneratorJob/identity_config.yml
  configs/test/yixuan-graph-ext-policy/audience/RSMGraphPolicyTableGeneratorJob/output_config.yml
  configs/test/yixuan-graph-ext-policy/audience/RelevanceModelInputGeneratorJob/execution_config.yml
  configs/test/yixuan-graph-ext-policy/audience/RelevanceModelInputGeneratorJob/identity_config.yml
  configs/test/yixuan-graph-ext-policy/audience/RelevanceModelInputGeneratorJob/output_config.yml
  configs/test/yixuan-graph-ext-policy/audience/RelevanceModelOfflineScoringPart2/execution_config.yml
  configs/test/yixuan-graph-ext-policy/audience/RelevanceModelOfflineScoringPart2/identity_config.yml
  configs/test/yixuan-graph-ext-policy/audience/RelevanceModelOfflineScoringPart2/output_config.yml
  configs/test/yixuan-graph-ext-policy/audience/RelevanceOnlineBiddingDataGeneratorJob/execution_config.yml
  configs/test/yixuan-graph-ext-policy/audience/RelevanceOnlineBiddingDataGeneratorJob/identity_config.yml
  configs/test/yixuan-graph-ext-policy/audience/RelevanceOnlineBiddingDataGeneratorJob/output_config.yml
Due: auto_generate_configs, deploy_test_configs, deploy_prod_configs, deploy_experiment_configs

Fix RelevanceModelOfflineScoringPart2 template
  config-templates/audience/RelevanceModelOfflineScoringPart2/identity_config.yml.j2
Due: none

svz-AUDAUTO-3975-disable-new-seed-dependency update
  configs/experiment/yanan-demo/audience/RSMGraphPolicyTableGeneratorJob/identity_config.yml
  configs/prod/audience/RSMGraphPolicyTableGeneratorJob/identity_config.yml
  configs/test/torch-onboard-abtesting/audience/RSMGraphPolicyTableGeneratorJob/identity_config.yml
  configs/test/yanan-demo/audience/RSMGraphPolicyTableGeneratorJob/identity_config.yml
  configs/test/yixuan-graph-ext-policy/audience/RSMGraphPolicyTableGeneratorJob/identity_config.yml
Due: deploy_test_configs, deploy_prod_configs, deploy_experiment_configs

Ensure CI jobs run for master and merge requests
  .gitignore
  .gitlab-ci.yml
Due: none

Ensure CI jobs run for master and merge requests (#18)
  .gitignore
  .gitlab-ci.yml
Due: none

Persist generated configs for deploy jobs
  .gitignore
  .gitlab-ci.yml
Due: none

Persist generated configs for deploy jobs (#19)
  .gitlab-ci.yml
Due: none

hts-AUDAUTO-4047-adjust-rsm-policy-table-current-version-logi add test config for hunter
  config-overrides/test/hts-test/audience/RSMGraphPolicyTableGeneratorJob/config.yml
  config-templates/audience/RSMGraphPolicyTableGeneratorJob/identity_config.yml.j2
Due: auto_generate_configs, deploy_test_configs

gyn-AUDAUTO-4109-add-userDownSampleBasePopulation userDownSampleBasePopulation
  config-templates/audience/RSMGraphPolicyTableGeneratorJob/identity_config.yml.j2
  config-templates/audience/RelevanceModelInputGeneratorJob/identity_config.yml.j2
Due: none

Support job variants in config generators
  README.md
  config-overrides/test/yanan-demo/audience/RelevanceModelInputGeneratorJob/config.yml
  config-templates/audience/RelevanceModelInputGeneratorJob/variants.yml
  generate_configs.py
  generate_runtime_config.py
Due: auto_generate_configs, deploy_test_configs

Path conditions:
  auto_generate_configs: any of: config-overrides/**/*
  deploy_test_configs: any of: configs/test/**/*, config-overrides/test/**/*
  deploy_prod_configs: any of: configs/prod/**/*, config-overrides/prod/**/*
  deploy_experiment_configs: any of: configs/experiment/**/*, config-overrides/experiment/**/*
