Repository Yanan-Gao/confetti: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy_test_configs, deploy_prod_configs, deploy_experiment_configs

.gitlab-ci.yml:

stages:
  - deploy

.deploy_template:
  image: python:3.9
  stage: deploy
  before_script:
    - pip install --quiet awscli

deploy_test_configs:
  extends: .deploy_template
  script:
    - aws s3 sync configs/test s3://thetradedesk-mlplatform-us-east-1/configdata/confetti/test/
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      changes:
        - configs/test/**/*
        - config-overrides/test/**/*
      when: on_success
    - when: never

deploy_prod_configs:
  extends: .deploy_template
  script:
    - aws s3 sync configs/prod s3://thetradedesk-mlplatform-us-east-1/configdata/confetti/prod/
  rules:
    - if: '$CI_COMMIT_BRANCH == "master"'
      changes:
        - configs/prod/**/*
        - config-overrides/prod/**/*
      when: on_success
    - when: never

deploy_experiment_configs:
  extends: .deploy_template
  script:
    - aws s3 sync configs/experiment s3://thetradedesk-mlplatform-us-east-1/configdata/confetti/experiment/
  rules:
    - if: '$CI_COMMIT_BRANCH == "master"'
      changes:
        - configs/experiment/**/*
        - config-overrides/experiment/**/*
      when: on_success
    - when: never

Update CI to deploy test configs on MR (#4)
  .gitlab-ci.yml
Due: none

ci: auto generate configs when overrides change
  .gitlab-ci.yml
  README.md
Due: none

Add execution_config template and default
  README.md
  config-templates/audience/AudienceCalibrationAndMergeJob/execution_config.yml.j2
  config-templates/audience/CalibrationInputDataGeneratorJob/execution_config.yml.j2
  config-templates/audience/Imp2BrModelInferenceDataGenerator/execution_config.yml.j2
  config-templates/audience/PopulationInputDataGeneratorJob/execution_config.yml.j2
  config-templates/audience/RSMGraphPolicyTableGeneratorJob/execution_config.yml.j2
  config-templates/audience/RelevanceModelInputGeneratorJob/execution_config.yml.j2
  config-templates/audience/RelevanceModelOfflineScoringPart2/execution_config.yml.j2
  config-templates/audience/TdidEmbeddingDotProductGeneratorOOS/execution_config.yml.j2
  config-templates/audience/TdidSeedScoreScale/execution_config.yml.j2
  configs/experiment/yanan-demo/audience/AudienceCalibrationAndMergeJob/execution_config.yml
  configs/experiment/yanan-demo/audience/CalibrationInputDataGeneratorJob/execution_config.yml
  configs/experiment/yanan-demo/audience/Imp2BrModelInferenceDataGenerator/execution_config.yml
  configs/experiment/yanan-demo/audience/PopulationInputDataGeneratorJob/execution_config.yml
  configs/experiment/yanan-demo/audience/RSMGraphPolicyTableGeneratorJob/execution_config.yml
  configs/experiment/yanan-demo/audience/RelevanceModelInputGeneratorJob/execution_config.yml
  configs/experiment/yanan-demo/audience/RelevanceModelOfflineScoringPart2/execution_config.yml
  configs/experiment/yanan-demo/audience/TdidEmbeddingDotProductGeneratorOOS/execution_config.yml
  configs/experiment/yanan-demo/audience/TdidSeedScoreScale/execution_config.yml
  configs/prod/audience/AudienceCalibrationAndMergeJob/execution_config.yml
  configs/prod/audience/CalibrationInputDataGeneratorJob/execution_config.yml
  configs/prod/audience/Imp2BrModelInferenceDataGenerator/execution_config.yml
  configs/prod/audience/PopulationInputDataGeneratorJob/execution_config.yml
  configs/prod/audience/RSMGraphPolicyTableGeneratorJob/execution_config.yml
  configs/prod/audience/RelevanceModelInputGeneratorJob/execution_config.yml
  configs/prod/audience/RelevanceModelOfflineScoringPart2/execution_config.yml
  configs/prod/audience/TdidEmbeddingDotProductGeneratorOOS/execution_config.yml
  configs/prod/audience/TdidSeedScoreScale/execution_config.yml
  configs/test/yanan-demo/audience/AudienceCalibrationAndMergeJob/execution_config.yml
  configs/test/yanan-demo/audience/CalibrationInputDataGeneratorJob/execution_config.yml
  configs/test/yanan-demo/audience/Imp2BrModelInferenceDataGenerator/execution_config.yml
  configs/test/yanan-demo/audience/PopulationInputDataGeneratorJob/execution_config.yml
  configs/test/yanan-demo/audience/RSMGraphPolicyTableGeneratorJob/execution_config.yml
  configs/test/yanan-demo/audience/RelevanceModelInputGeneratorJob/execution_config.yml
  configs/test/yanan-demo/audience/RelevanceModelOfflineScoringPart2/execution_config.yml
  configs/test/yanan-demo/audience/TdidEmbeddingDotProductGeneratorOOS/execution_config.yml
  configs/test/yanan-demo/audience/TdidSeedScoreScale/execution_config.yml
  generate_configs.py
Due: deploy_test_configs, deploy_prod_configs, deploy_experiment_configs

Add execution_config template and default (#6)
  README.md
  config-templates/audience/AudienceCalibrationAndMergeJob/execution_config.yml.j2
  config-templates/audience/CalibrationInputDataGeneratorJob/execution_config.yml.j2
  config-templates/audience/Imp2BrModelInferenceDataGenerator/execution_config.yml.j2
  config-templates/audience/PopulationInputDataGeneratorJob/execution_config.yml.j2
  config-templates/audience/RSMGraphPolicyTableGeneratorJob/execution_config.yml.j2
  config-templates/audience/RelevanceModelInputGeneratorJob/execution_config.yml.j2
  config-templates/audience/RelevanceModelOfflineScoringPart2/execution_config.yml.j2
  config-templates/audience/TdidEmbeddingDotProductGeneratorOOS/execution_config.yml.j2
  config-templates/audience/TdidSeedScoreScale/execution_config.yml.j2
  configs/experiment/yanan-demo/audience/AudienceCalibrationAndMergeJob/execution_config.yml
  configs/experiment/yanan-demo/audience/CalibrationInputDataGeneratorJob/execution_config.yml
  configs/experiment/yanan-demo/audience/Imp2BrModelInferenceDataGenerator/execution_config.yml
  configs/experiment/yanan-demo/audience/PopulationInputDataGeneratorJob/execution_config.yml
  configs/experiment/yanan-demo/audience/RSMGraphPolicyTableGeneratorJob/execution_config.yml
  configs/experiment/yanan-demo/audience/RelevanceModelInputGeneratorJob/execution_config.yml
  configs/experiment/yanan-demo/audience/RelevanceModelOfflineScoringPart2/execution_config.yml
  configs/experiment/yanan-demo/audience/TdidEmbeddingDotProductGeneratorOOS/execution_config.yml
  configs/experiment/yanan-demo/audience/TdidSeedScoreScale/execution_config.yml
  configs/prod/audience/AudienceCalibrationAndMergeJob/execution_config.yml
  configs/prod/audience/CalibrationInputDataGeneratorJob/execution_config.yml
  configs/prod/audience/Imp2BrModelInferenceDataGenerator/execution_config.yml
  configs/prod/audience/PopulationInputDataGeneratorJob/execution_config.yml
  configs/prod/audience/RSMGraphPolicyTableGeneratorJob/execution_config.yml
  configs/prod/audience/RelevanceModelInputGeneratorJob/execution_config.yml
  configs/prod/audience/RelevanceModelOfflineScoringPart2/execution_config.yml
  configs/prod/audience/TdidEmbeddingDotProductGeneratorOOS/execution_config.yml
  configs/prod/audience/TdidSeedScoreScale/execution_config.yml
  configs/test/yanan-demo/audience/AudienceCalibrationAndMergeJob/execution_config.yml
  configs/test/yanan-demo/audience/CalibrationInputDataGeneratorJob/execution_config.yml
  configs/test/yanan-demo/audience/Imp2BrModelInferenceDataGenerator/execution_config.yml
  configs/test/yanan-demo/audience/PopulationInputDataGeneratorJob/execution_config.yml
  configs/test/yanan-demo/audience/RSMGraphPolicyTableGeneratorJob/execution_config.yml
  configs/test/yanan-demo/audience/RelevanceModelInputGeneratorJob/execution_config.yml
  configs/test/yanan-demo/audience/RelevanceModelOfflineScoringPart2/execution_config.yml
  configs/test/yanan-demo/audience/TdidEmbeddingDotProductGeneratorOOS/execution_config.yml
  configs/test/yanan-demo/audience/TdidSeedScoreScale/execution_config.yml
  generate_configs.py
Due: deploy_test_configs, deploy_prod_configs, deploy_experiment_configs

ci: stop pipeline when generation updates configs
  .gitlab-ci.yml
  README.md
Due: none

ci: stop pipeline when generation updates configs (#7)
  .gitlab-ci.yml
  README.md
Due: none

docs: clarify auto build and config usage
  README.md
Due: none

ci: fix push ref for auto config generation
  .gitlab-ci.yml
Due: none

ci: fail if configs differ
  .gitlab-ci.yml
Due: none

ci: show changed files for auto config diff
  .gitlab-ci.yml
Due: none

Warn when override config missing and generate defaults
  config-overrides/prod/audience/.gitkeep
  config-overrides/prod/audience/CalibrationInputDataGeneratorJob/config.yml
  generate_configs.py
Due: deploy_prod_configs

Warn when override config missing and generate defaults (#11)
  config-overrides/prod/audience/.gitkeep
  config-overrides/prod/audience/CalibrationInputDataGeneratorJob/config.yml
  generate_configs.py
Due: deploy_prod_configs

feat: add colored logging
  generate_configs.py
Due: none

feat: add colored logging (#12)
  generate_configs.py
Due: none

update offline score pipeline config
  config-overrides/test/yanan-demo/audience/RelevanceModelOfflineScoringPart2/config.yml
  configs/test/yanan-demo/audience/Imp2BrModelInferenceDataGenerator/identity_config.yml
  configs/test/yanan-demo/audience/RelevanceModelOfflineScoringPart2/identity_config.yml
Due: deploy_test_configs

f
  config-overrides/test/yanan-demo/audience/RelevanceModelOfflineScoringPart2/config.yml
  config-templates/audience/RelevanceModelOfflineScoringPart2/identity_config.yml.j2
  configs/experiment/yanan-demo/audience/RelevanceModelOfflineScoringPart2/identity_config.yml
  configs/prod/audience/RelevanceModelOfflineScoringPart2/identity_config.yml
  configs/test/yanan-demo/audience/RelevanceModelOfflineScoringPart2/identity_config.yml
Due: deploy_test_configs, deploy_prod_configs, deploy_experiment_configs

Add runtime config generator
  .gitignore
  Makefile
  README.md
  generate_runtime_config.py
Due: none

Add runtime config generator (#13)
  .gitignore
  Makefile
  README.md
  generate_runtime_config.py
Due: none

refactor runtime config generation
  Makefile
  README.md
  generate_runtime_config.py
Due: none

refactor runtime config generation (#14)
  Makefile
  README.md
  generate_runtime_config.py
Due: none

Prefer local audience jar path
  generate_runtime_config.py
Due: none

add a runtime config generation tool
  .gitignore
  Makefile
  README.md
  generate_runtime_config.py
Due: none

update some configs
  config-overrides/test/yanan-demo/audience/RSMGraphPolicyTableGeneratorJob/config.yml
  config-templates/audience/CalibrationInputDataGeneratorJob/output_config.yml.j2
  config-templates/audience/Imp2BrModelInferenceDataGenerator/output_config.yml.j2
  config-templates/audience/PopulationInputDataGeneratorJob/identity_config.yml.j2
  config-templates/audience/PopulationInputDataGeneratorJob/output_config.yml.j2
  config-templates/audience/RelevanceModelInputGeneratorJob/output_config.yml.j2
  configs/experiment/yanan-demo/audience/CalibrationInputDataGeneratorJob/output_config.yml
  configs/experiment/yanan-demo/audience/Imp2BrModelInferenceDataGenerator/output_config.yml
  configs/experiment/yanan-demo/audience/PopulationInputDataGeneratorJob/identity_config.yml
  configs/experiment/yanan-demo/audience/PopulationInputDataGeneratorJob/output_config.yml
  configs/experiment/yanan-demo/audience/RelevanceModelInputGeneratorJob/output_config.yml
  configs/prod/audience/CalibrationInputDataGeneratorJob/output_config.yml
  configs/prod/audience/Imp2BrModelInferenceDataGenerator/output_config.yml
  configs/prod/audience/PopulationInputDataGeneratorJob/identity_config.yml
  configs/prod/audience/PopulationInputDataGeneratorJob/output_config.yml
  configs/prod/audience/RelevanceModelInputGeneratorJob/output_config.yml
  configs/test/yanan-demo/audience/CalibrationInputDataGeneratorJob/output_config.yml
  configs/test/yanan-demo/audience/Imp2BrModelInferenceDataGenerator/output_config.yml
  configs/test/yanan-demo/audience/PopulationInputDataGeneratorJob/identity_config.yml
  configs/test/yanan-demo/audience/PopulationInputDataGeneratorJob/output_config.yml
  configs/test/yanan-demo/audience/RSMGraphPolicyTableGeneratorJob/identity_config.yml
  configs/test/yanan-demo/audience/RSMGraphPolicyTableGeneratorJob/output_config.yml
  configs/test/yanan-demo/audience/RelevanceModelInputGeneratorJob/output_config.yml
Due: deploy_test_configs, deploy_prod_configs, deploy_experiment_configs

f
  config-templates/audience/CalibrationInputDataGeneratorJob/identity_config.yml.j2
  config-templates/audience/PopulationInputDataGeneratorJob/identity_config.yml.j2
  config-templates/audience/RSMGraphPolicyTableGeneratorJob/identity_config.yml.j2
  configs/experiment/yanan-demo/audience/CalibrationInputDataGeneratorJob/identity_config.yml
  configs/experiment/yanan-demo/audience/PopulationInputDataGeneratorJob/identity_config.yml
  configs/experiment/yanan-demo/audience/RSMGraphPolicyTableGeneratorJob/identity_config.yml
  configs/prod/audience/CalibrationInputDataGeneratorJob/identity_config.yml
  configs/prod/audience/PopulationInputDataGeneratorJob/identity_config.yml
  configs/prod/audience/RSMGraphPolicyTableGeneratorJob/identity_config.yml
  configs/test/yanan-demo/audience/CalibrationInputDataGeneratorJob/identity_config.yml
  configs/test/yanan-demo/audience/PopulationInputDataGeneratorJob/identity_config.yml
  configs/test/yanan-demo/audience/RSMGraphPolicyTableGeneratorJob/identity_config.yml
Due: deploy_test_configs, deploy_prod_configs, deploy_experiment_configs

fix policy
  config-templates/audience/RSMGraphPolicyTableGeneratorJob/output_config.yml.j2
  configs/test/yanan-demo/audience/RSMGraphPolicyTableGeneratorJob/output_config.yml
Due: deploy_test_configs

f
  config-templates/audience/Imp2BrModelInferenceDataGenerator/identity_config.yml.j2
  config-templates/audience/PopulationInputDataGeneratorJob/identity_config.yml.j2
  config-templates/audience/RelevanceModelInputGeneratorJob/identity_config.yml.j2
  configs/experiment/yanan-demo/audience/Imp2BrModelInferenceDataGenerator/identity_config.yml
  configs/experiment/yanan-demo/audience/PopulationInputDataGeneratorJob/identity_config.yml
  configs/experiment/yanan-demo/audience/RelevanceModelInputGeneratorJob/identity_config.yml
  configs/prod/audience/Imp2BrModelInferenceDataGenerator/identity_config.yml
  configs/prod/audience/PopulationInputDataGeneratorJob/identity_config.yml
  configs/prod/audience/RelevanceModelInputGeneratorJob/identity_config.yml
  configs/test/yanan-demo/audience/Imp2BrModelInferenceDataGenerator/identity_config.yml
  configs/test/yanan-demo/audience/PopulationInputDataGeneratorJob/identity_config.yml
  configs/test/yanan-demo/audience/RelevanceModelInputGeneratorJob/identity_config.yml
Due: deploy_test_configs, deploy_prod_configs, deploy_experiment_configs

f
  config-overrides/test/yanan-demo/audience/RelevanceOnlineBiddingDataGeneratorJob/config.yml
  config-templates/audience/RelevanceOnlineBiddingDataGeneratorJob/execution_config.yml.j2
  config-templates/audience/RelevanceOnlineBiddingDataGeneratorJob/identity_config.yml.j2
  config-templates/audience/RelevanceOnlineBiddingDataGeneratorJob/output_config.yml.j2
  configs/experiment/yanan-demo/audience/RelevanceOnlineBiddingDataGeneratorJob/execution_config.yml
  configs/experiment/yanan-demo/audience/RelevanceOnlineBiddingDataGeneratorJob/identity_config.yml
  configs/experiment/yanan-demo/audience/RelevanceOnlineBiddingDataGeneratorJob/output_config.yml
  configs/prod/audience/RelevanceOnlineBiddingDataGeneratorJob/execution_config.yml
  configs/prod/audience/RelevanceOnlineBiddingDataGeneratorJob/identity_config.yml
  configs/prod/audience/RelevanceOnlineBiddingDataGeneratorJob/output_config.yml
  configs/test/yanan-demo/audience/RelevanceOnlineBiddingDataGeneratorJob/execution_config.yml
  configs/test/yanan-demo/audience/RelevanceOnlineBiddingDataGeneratorJob/identity_config.yml
  configs/test/yanan-demo/audience/RelevanceOnlineBiddingDataGeneratorJob/output_config.yml
Due: deploy_test_configs, deploy_prod_configs, deploy_experiment_configs

f
  config-overrides/test/yanan-demo/audience/PopulationInputDataGeneratorJob/config.yml
  config-templates/audience/PopulationInputDataGeneratorJob/identity_config.yml.j2
  configs/experiment/yanan-demo/audience/PopulationInputDataGeneratorJob/identity_config.yml
  configs/prod/audience/PopulationInputDataGeneratorJob/identity_config.yml
  configs/test/yanan-demo/audience/PopulationInputDataGeneratorJob/identity_config.yml
Due: deploy_test_configs, deploy_prod_configs, deploy_experiment_configs

f
  config-overrides/test/yanan-demo/audience/CalibrationInputDataGeneratorJob/config.yml
  config-templates/audience/CalibrationInputDataGeneratorJob/identity_config.yml.j2
  configs/experiment/yanan-demo/audience/CalibrationInputDataGeneratorJob/identity_config.yml
  configs/prod/audience/CalibrationInputDataGeneratorJob/identity_config.yml
  configs/test/yanan-demo/audience/CalibrationInputDataGeneratorJob/identity_config.yml
Due: deploy_test_configs, deploy_prod_configs, deploy_experiment_configs

f
  config-overrides/test/yanan-demo/audience/RSMGraphPolicyTableGeneratorJob/config.yml
  config-templates/audience/RSMGraphPolicyTableGeneratorJob/identity_config.yml.j2
  configs/experiment/yanan-demo/audience/RSMGraphPolicyTableGeneratorJob/identity_config.yml
  configs/prod/audience/RSMGraphPolicyTableGeneratorJob/identity_config.yml
  configs/test/yanan-demo/audience/RSMGraphPolicyTableGeneratorJob/identity_config.yml
Due: deploy_test_configs, deploy_prod_configs, deploy_experiment_configs

f
  config-templates/audience/RelevanceOnlineBiddingDataGeneratorJob/output_config.yml.j2
  configs/experiment/yanan-demo/audience/RelevanceOnlineBiddingDataGeneratorJob/output_config.yml
  configs/prod/audience/RelevanceOnlineBiddingDataGeneratorJob/output_config.yml
  configs/test/yanan-demo/audience/RelevanceOnlineBiddingDataGeneratorJob/output_config.yml
Due: deploy_test_configs, deploy_prod_configs, deploy_experiment_configs

Remove experiment from runtime output paths
  generate_runtime_config.py
Due: none

Remove experiment from runtime output paths (#16)
  generate_runtime_config.py
Due: none

frc-AUDAUTO-3375-torch-abtesting
  config-overrides/test/torch-onboard-abtesting/audience/AudienceCalibrationAndMergeJob/config.yml
  configs/test/torch-onboard-abtesting/audience/AudienceCalibrationAndMergeJob/execution_config.yml
  configs/test/torch-onboard-abtesting/audience/AudienceCalibrationAndMergeJob/identity_config.yml
  configs/test/torch-onboard-abtesting/audience/AudienceCalibrationAndMergeJob/output_config.yml
  configs/test/torch-onboard-abtesting/audience/CalibrationInputDataGeneratorJob/execution_config.yml
  configs/test/torch-onboard-abtesting/audience/CalibrationInputDataGeneratorJob/identity_config.yml
  configs/test/torch-onboard-abtesting/audience/CalibrationInputDataGeneratorJob/output_config.yml
  configs/test/torch-onboard-abtesting/audience/Imp2BrModelInferenceDataGenerator/execution_config.yml
  configs/test/torch-onboard-abtesting/audience/Imp2BrModelInferenceDataGenerator/identity_config.yml
  configs/test/torch-onboard-abtesting/audience/Imp2BrModelInferenceDataGenerator/output_config.yml
  configs/test/torch-onboard-abtesting/audience/PopulationInputDataGeneratorJob/execution_config.yml
  configs/test/torch-onboard-abtesting/audience/PopulationInputDataGeneratorJob/identity_config.yml
  configs/test/torch-onboard-abtesting/audience/PopulationInputDataGeneratorJob/output_config.yml
  configs/test/torch-onboard-abtesting/audience/RSMGraphPolicyTableGeneratorJob/execution_config.yml
  configs/test/torch-onboard-abtesting/audience/RSMGraphPolicyTableGeneratorJob/identity_config.yml
  configs/test/torch-onboard-abtesting/audience/RSMGraphPolicyTableGeneratorJob/output_config.yml
  configs/test/torch-onboard-abtesting/audience/RelevanceModelInputGeneratorJob/execution_config.yml
  configs/test/torch-onboard-abtesting/audience/RelevanceModelInputGeneratorJob/identity_config.yml
  configs/test/torch-onboard-abtesting/audience/RelevanceModelInputGeneratorJob/output_config.yml
  configs/test/torch-onboard-abtesting/audience/RelevanceModelOfflineScoringPart2/execution_config.yml
  configs/test/torch-onboard-abtesting/audience/RelevanceModelOfflineScoringPart2/identity_config.yml
  configs/test/torch-onboard-abtesting/audience/RelevanceModelOfflineScoringPart2/output_config.yml
  configs/test/torch-onboard-abtesting/audience/RelevanceOnlineBiddingDataGeneratorJob/execution_config.yml
  configs/test/torch-onboard-abtesting/audience/RelevanceOnlineBiddingDataGeneratorJob/identity_config.yml
  configs/test/torch-onboard-abtesting/audience/RelevanceOnlineBiddingDataGeneratorJob/output_config.yml
Due: deploy_test_configs

Update configs for etl
  config-overrides/test/yanan-demo/audience/RelevanceModelInputGeneratorJob/config.yml
  config-templates/audience/RelevanceModelInputGeneratorJob/identity_config.yml.j2
  config-templates/audience/RelevanceModelInputGeneratorJob/output_config.yml.j2
  configs/experiment/yanan-demo/audience/RelevanceModelInputGeneratorJob/identity_config.yml
  configs/experiment/yanan-demo/audience/RelevanceModelInputGeneratorJob/output_config.yml
  configs/prod/audience/RelevanceModelInputGeneratorJob/identity_config.yml
  configs/prod/audience/RelevanceModelInputGeneratorJob/output_config.yml
  configs/test/yanan-demo/audience/RelevanceModelInputGeneratorJob/identity_config.yml
  configs/test/yanan-demo/audience/RelevanceModelInputGeneratorJob/output_config.yml
Due: deploy_test_configs, deploy_prod_configs, deploy_experiment_configs
